/*Login and Signup form modal*/
.Modal {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  padding: 25px;
  overflow: auto;
  background: white;
}
.modalHeader {
  margin: 20px 0px 30px 0px !important;
}
.modalSwitch {
  cursor: pointer;
}
#app {
  position: relative;
  width: 100%;
  height: 100vh;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

/*Polllist*/
.hideItem {
  display: block;
}

.centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pollList {
  clear: both;
}

/*Header Element #c0c0c0*/
.headerElement {
  /*  border-top: 2px solid grey;*/
  border-bottom: 2px solid #c0c0c0;
}

.pageHeader {
  margin: 20px 0;
}

/*Poll detail voting form*/
.votingExtraInput {
  max-width: 500px;
}

.tweetButton {
  margin-top: 10px;
}

/*Page Body*/
.pageBody {
  padding-top: 20px;
}

/*New Poll Form*/
.newPollSubmit {
  float: right;
}

@media only screen and (max-width: 767px) {
  .Modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .hideItem {
    display: none;
  }
  .sortButton {
    float: left;
    margin-left: 10px !important;
  }

  .pageElement {
    margin: 0 auto;
    display: table;
  }
}
