/*=================Login and Signup form modal===================*/
.Modal {
  padding: 25px;
}
.modalHeader {
  margin: 20px 0px 30px 0px !important;
}
.modalSwitch {
  cursor: pointer;
}
#app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

/* ============================Polllist===================*/
.hideItem {
  display: block;
}

.centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========================Page element========================== */
.pageElement {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

/*Footer element*/
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer a {
  color: white;
}

.footerContainer a:hover {
  text-decoration: underline;
}

.border {
  border-right: 2px solid white;
  padding-right: 4px;
  margin-right: 4px;
}

.pageHeader {
  margin: 20px 0;
}

.pageHeader h1 {
  font-size: 40px;
}
/*Page Body*/
.pageBody {
  padding: 20px 0;
  flex: 1;
}

/*=============================Poll detail voting form==========================*/
.votingExtraInput {
  max-width: 350px;
}

.tweetButton {
  margin-top: 10px;
}
.formWidth {
  width: 350px;
}

/*===============================New Poll Form==============================*/
.newPollSubmit {
  float: right;
}

/*==========================Landing Page ====================*/
.landingContainer {
  /*  position: relative;
  width: 100%;
  height: 100vh;*/
  background-image: url(./img/landingMin.jpg);
  background-size: cover;
  background-position: center;
  /*  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;*/
}
.landingImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.landingButton {
  margin-left: 10px !important;
}
.landingHeader {
  font-size: 40px !important;
}
.landingFormGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingListMenu {
  margin-top: 0px !important;
}
.landingListSegment {
  margin-top: 0px !important;
}

/*=====================Polls Page ==================*/
.listItems {
  min-height: 450px;
}
.pollList {
  clear: both;
}
.pollNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

/*================User Poll =======================*/
.userNoPoll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/*===========Responsive===========================*/
@media only screen and (max-width: 767px) {
  .Modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .hideItem {
    display: none;
  }
  .sortButton {
    float: left;
    margin-left: 10px !important;
  }
}
